 body{
    background-color: #C3C2C0;
    
 }

 .entire-menu{
    background-color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 700px;
    margin: auto;
    justify-content: center;
    border-radius: 7px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); 
    padding: 20px;
    margin-top: 225px;
 }

 .info-box{
    background-color: #F5F5F5 ;
    border-radius: 10px;
    box-shadow: 3px 8px 8px 0 rgba(0, 0, 0, 0.3); 
    padding-bottom: 25px;
    padding-top: 8px;
 }

 .order-box{
    height: 400px;
    margin-bottom: 20px;
    gap: 15px;
    justify-content: center;
 }

 .order{
   background-color: #F5F5F5;
   display: inline-block;
   margin: 12.5px;
   width: 165px;
   height: 320px;
   padding: 5px;
   box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.3); 
   border-radius: 7px;
   margin-top: -2px;
 }
 
 .order-image img {
    width: 100%;
    height: 240px;
    object-fit: cover; 
    border-radius: 5px;
    margin: 8px 10px 10px auto;
}

.main-image img{
   width: 100%;
   height: auto; 
   object-fit: cover;
   border-radius: 5px;
   margin: auto;
   display: block;
}
  
 .register{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
 }

 input{
    margin: auto;
    border-radius: 5px;
    border: none;
    width: 600px;
    height: 30px;
    padding-left: 5px;
 }

 button{
    background-color: #007AFF;
    width: 100%;
    margin-top: 15px;
    height: 40px;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    border: none;
    cursor: pointer;
 }

 .output{
   text-align: left;
   justify-content: left;
   margin-top: 25px;
   font-size: 15px;
 }

 .text1{
   font-family: Arial, Helvetica, sans-serif;
 }

  .box-title{
   font-size: 15px;
  }
  
  .order p{
   margin-top: -10px;
  }

 .description{
   font-size: 14px;
   margin-top: -7px;
 }

 .order{
   font-size: 14px ;
 }

 .main-title{
   font-size: 23px;
   margin-top: -7px;
 }

.quantity {
    display: flex;
    flex-direction: row;
    justify-content: center
    
}

.quantity .input-text.qty {
    width: 24px;
    height: 32px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #efefef;
    
}

.quantity.buttons_added {
    text-align: center;
    position: relative;
    white-space: nowrap;
    vertical-align: top;
}

.quantity.buttons_added input {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
    width: 25px;              
    height: 33px;
    display: flex;            
    justify-content: center;  
    align-items: center;    
    background-color: #ffffff;
    border: 1px solid #efefef;
    cursor: pointer;
    font-size: 15px;          
    padding: 0;               
}

.quantity.buttons_added .minus {
    border-right: 0;
}

.quantity.buttons_added .plus {
    border-left: 0;
}

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
    background: #eeeeee;
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
    outline: none;
}
